@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 670;
    font-style: normal;
}

#nossaLogo {
    width: 65px;
    position: fixed;
    right: 0;
    bottom: 80px;
}

#logoPorto {
    width: 140px;
}

#iconePerfil {
    width: 12px;
}

nav {
    background-color: #00345A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
    margin-right: 20px;
}

header li {
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #fff;
    font-size: 18px; 
    padding: 7px;
    border-radius: 7px;
}

header a:hover {
    text-decoration: underline;
}

.icone-menu-celular {
    display: none;
}

.menu-celular {
    display: none;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #00345A;
}

main {
    width: 80%;
    margin: auto;
}

h1 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 45px;
    margin-top: 90px;
}

form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.informacao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    width: 20%;
    align-items: center;
    margin-top: 2.5rem;
}

label {
    color: #fff;
    text-transform: uppercase;
}

.formularios {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    width: 290px;
}

#botao {
    border: none;
    background-color: #0094FF;
    font-size: 18px;
    text-transform: uppercase;
    padding: 15px 40px;
    font-weight: 700;
    text-decoration: none;
    color: #00345A;
}

@media screen and (max-width: 1200px) {

    .informacao {
        justify-content: space-around;
        gap: 0;
    }

    fieldset {
        width: 35%;
    }
}

@media screen and (max-width: 930px) {

    #nossaLogo {
        width: 55px;
    }

    .fundo > h1 {
        font-size: 4em;
    }

    nav li {
        display: none;
    }

    .icone-menu-celular {
        display: block;
        margin-right: 15px;
    }

    .icone-menu-celular button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .menu-celular {
        background-color: #00345A;
    }

    .menu-celular ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .menu-celular li {
        display: block;
        padding-top: 1.2rem;
    }

    .open {
        display: block;
    }
}

@media screen and (max-width: 880px) {

    h1 {
        font-size: 2.2rem;
    }

    .informacao {
        flex-direction: column;
    }

    .formularios {
        width: 240px;
    }

    #botao {
        font-size: 16px;
    }
}