@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 670;
    font-style: normal;
    color: black;
}

.fundo {
        background-color: #01B3E3;
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fundo :nth-child(1) {
        color: #fff;
        text-transform: uppercase;
        font-size: 85px;
    }

    #logoPorto1 {
        width: 195px;
        position: absolute;
        left: 20px;
        top: 10px;
    }

    #logoPorto2 {
        width: 150px;
        position: absolute;
        left: 10px;
        bottom: -85px;
    }

#iconePerfil {
    width: 20px;
}

nav {
    background-color: #00345A;
    padding: 30px;
    text-align: right;
}

nav > a {
    text-decoration: none;
    color: #fff;
    margin: 50px;
    font-size: 23px;
}

nav > a:hover {
    background-color: rgb(173, 224, 231);
    padding: 5px;
    border-radius: 10px;
    color: #00345A;
}

li{
    list-style: none;
    
}

.links{
    text-decoration: none;
    list-style: none;
    color: black;
    margin-left: 25px;
    margin-right: 25px;
    color: white;
    
}


#perfil{
    height: 15px;
}

h2{
    margin-top: 8%;
    font-size: 40px;
    display: block;
    color: #00345A;
}
.divIntegrantes{
    margin-top: 2%;
    background-color: #01B3E3;
    display: flex;
    padding: 5%;
    margin-bottom: 25%;
    justify-content: space-evenly;

}

.integrantes{
    width: 400px;
    height: 580px;
    background-color: white;
    border-radius: 17px;
    flex-direction: column;
    text-align: center;
    color: #00345A;
    padding: 2%;
    padding-top: 5%;
}

.infos{
    text-align: left;
    margin-top: 5%;
    
}
.nome{
    font-size: 32px;
    text-align: center;
    margin-bottom: 5%;
}


.github{
    color: #B4B4B4;
}

