@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 670;
    font-style: normal;
}

.fundo {
    background-color: #8DD1F1;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nossaLogo {
    width: 65px;
    position: fixed;
    right: 0;
    bottom: 100px;
}

.fundo h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 5em;
}

#logoPorto1 {
    width: 195px;
    position: absolute;
    left: 20px;
    top: 10px;
}

#logoPorto2 {
    width: 140px;
}

nav {
    background-color: #00345A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
    margin-right: 20px;
}

header li {
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #fff;
    font-size: 18px; 
    padding: 7px;
    border-radius: 7px;
}

header a:hover {
    text-decoration: underline;
}

.icone-menu-celular {
    display: none;
}

.menu-celular {
    display: none;
}

main {
    width: 100%;
}

.foto img {
    width: 100%;
}

.container{
    margin: 13% 0px;
    background-color: #8DD1F1;
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 30px;
}

.foto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    margin-bottom: 20px;
}

.foto a {
    color: #00098b;
    margin-top: 20px;
    font-size: 22px;
}

.infos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infos form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.infos div {
    display: flex;
    flex-direction: column;
}

.infos label {
    margin-left: 10px;
    font-size: 21px;
    font-weight: 500;
}

.nome input, .email input {
    margin-top: 5px;
    width: 300px;
    height: 30px;
    border: none;
    padding: 0px;
    border-radius: 12px;
    background-color: #fff;
}

.botao {
    font-size: 1.2em;
    background-color: #00345A;
    color: #fff;
    padding: 10px 0px;
    border: none;
    border-radius: 7px;
    width: 100px;
}

footer {
    text-align: center;
    background-color: black;
    padding: 30px;
}

footer p {
    color: #fff;
    text-align: center;
    padding-top: 30px;
    letter-spacing: 1px;
}

footer > a {
    text-decoration: none;
    background-color: #fff;
    color: #0060af;
    font-size: 30px;
    padding: 7px;
    border-radius: 10px;
}

footer > a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 930px) {

    #nossaLogo {
        width: 55px;
    }

    #logoPorto1 {
        width: 165px;
    }

    .fundo h1 {
        font-size: 4em;
    }

    nav li {
        display: none;
    }

    .icone-menu-celular {
        display: block;
        margin-right: 15px;
    }

    .icone-menu-celular button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .menu-celular {
        background-color: #00345A;
    }

    .menu-celular ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .menu-celular li {
        display: block;
        padding-top: 1.2rem;
    }

    .open {
        display: block;
    }

    .container {
        margin: 15.5% 0;
    }

    .foto {
        width: 200px;
    }

    .foto a {
        font-size: 1.2em;
    }

    .infos label {
        font-size: 1.2em;
    }

    .nome input, .email input {
        width: 220px;
    }

    .botao {
        font-size: 1em;
    }

    footer p {
        font-size: 0.8em;
    }
    
    footer > a {
        font-size: 1.5em;
    }

}

@media screen and (max-width: 670px) {

    #nossaLogo {
        width: 40px;
    }

    #logoPorto1 {
        width: 135px;
    }

    .fundo h1 {
        font-size: 3em;
    }
}

@media screen and (max-width: 576px) {
    .container {
        align-items: center;
        flex-direction: column;
    }
}