@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 670;
    font-style: normal;
}

#nossaLogo {
    width: 65px;
    position: fixed;
    right: 0;
    bottom: 80px;
}

#logoPorto {
    width: 130px;
}

#iconePerfil {
    width: 12px;
}

nav {
    background-color: #00345A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
}

header li {
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #fff;
    font-size: 18px; 
    padding: 7px;
    border-radius: 7px;
}

header a:hover {
    text-decoration: underline;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #00345A;
}

h1 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 45px;
    margin-top: 30px;
}

.container {
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.informacao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    width: 30%;
    align-items: center;
    margin-top: 2.5rem;
}

label {
    color: #fff;
    text-transform: uppercase;
}

input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    width: 290px;
}

button {
    border: none;
    background-color: #0094FF;
    font-size: 22px;
    text-transform: uppercase;
    padding: 15px 40px;
    font-weight: 700;
}

button a {
    text-decoration: none;
    color: #00345A;
}

@media screen and (max-width: 1050px) {

    #nossaLogo {
        width: 45px;
    }

    .informacao {
        flex-direction: column;
    }

    h1 {
        font-size: 35px;
    }

    button {
        font-size: 18px;
    }

    form {
        margin-bottom: 70px;
    }
}

@media screen and (max-width: 930px) {

    nav {
        flex-direction: column;
    }

    header a {
        font-size: 15px; 
    }

}