@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 670;
    font-style: normal;
}

#nossaLogo {
    width: 65px;
    position: fixed;
    right: 0;
    bottom: 80px;
}

#logoPorto {
    width: 130px;
}

#iconePerfil {
    width: 12px;
}

nav {
    background-color: #00345A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
}

header li {
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #fff;
    font-size: 18px; 
    padding: 7px;
    border-radius: 7px;
}

header a:hover {
    text-decoration: underline;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #00345A;
}

h1 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 45px;
    margin-top: 30px;
}

form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.informacao {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.linha1, .linha2, .linha3 {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: none;
}

label {
    color: #fff;
    text-transform: uppercase;
}

input {
    width: 35vh;
}

form > a {
    background-color: #0094FF;
    font-size: 22px;
    text-transform: uppercase;
    color: #00345A;
    padding: 15px 40px;
    font-weight: 700;
    text-decoration: none;
}
.formularios{
    padding: 5px;
    border-radius: 50px;
}
@media screen and (max-width: 1199px) {

    #nossaLogo {
        width: 60px;
    }

    #logoPorto {
        width: 120px;
    }

    header a {
        font-size: 16px; 
    }
}

@media screen and (max-width: 992px) {

    #nossaLogo {
        width: 55px;
    }

    #logoPorto {
        width: 110px;
    }

    header a {
        font-size: 12px; 
    }

}

@media screen and (max-width: 768px) {

    #nossaLogo {
        width: 45px;
    }

    #logoPorto {
        width: 90px;
    }

    nav {
        flex-direction: column;
    }

    header a {
        font-size: 12px; 
    }
}

@media screen and (max-width: 576px) {

    #nossaLogo {
        width: 40px;
    }

    header a {
        font-size: 8px; 
    }
}