@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 670;
    font-style: normal;
}
.fundo {
    background-color: #00345A;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nossaLogo {
    width: 65px;
    position: fixed;
    right: 0;
    bottom: 100px;
}

.fundo :nth-child(1) {
    color: #fff;
    text-transform: uppercase;
    font-size: 85px;
}

#logoPorto1 {
    width: 195px;
    position: absolute;
    left: 20px;
    top: 10px;
}

#logoPorto2 {
    width: 140px;
}

#iconePerfil {
width: 12px;
}

nav {
    background-color: #00345A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
    margin-right: 20px;
}

header li {
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #fff;
    font-size: 18px; 
    padding: 7px;
    border-radius: 7px;
}

header a:hover {
    text-decoration: underline;
}

.icone-menu-celular {
    display: none;
}

.menu-celular {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#maisInfo {
    width: 75px;
    position: absolute;
    margin-top: 30px;
    left: 30px;
}

.container {
    background-color: #8DD1F1;
    padding: 50px;
    border-radius: 13px;
    margin-top: 20vh;
}

.container > h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #00345A;
    margin-bottom: 50px;
    text-align: center;
}

.container h3 {
   font-size: 1.5rem; 
   color: #00345A;
   margin-bottom: 30px;
}

.container p {
    font-size: 1.2rem;
    color: #00345A;
    margin-bottom: 30px;
}

main a {
    background-color: #8DD1F1;
    text-decoration: none;
    color: #00345A;
    text-transform: uppercase;
    font-weight: 670;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 8px;
    margin-bottom: 100px;
}

footer {
    text-align: center;
    background-color: black;
    padding: 30px;
}

footer p {
    color: #fff;
    text-align: center;
    padding-top: 30px;
    letter-spacing: 1px;
}

footer > a {
    text-decoration: none;
    background-color: #fff;
    color: #0060af;
    font-size: 30px;
    padding: 7px;
    border-radius: 10px;
}

footer > a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 930px) {

    #nossaLogo {
        width: 55px;
    }

    .fundo > h1 {
        font-size: 4em;
    }

    nav li {
        display: none;
    }

    .icone-menu-celular {
        display: block;
        margin-right: 15px;
    }

    .icone-menu-celular button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .menu-celular {
        background-color: #00345A;
    }

    .menu-celular ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .menu-celular li {
        display: block;
        padding-top: 1.2rem;
    }

    .open {
        display: block;
    }

    #maisInfo {
        width: 65px;
    }

    .container {
        padding: 30px;
        width: 500px;
    }
    
    .container > h2 {
        font-size: 1.5rem;
        margin-bottom: 30px;
    }
    
    .container h3 {
       font-size: 1.2rem; 
       margin-bottom: 10px;
    }
    
    .container p {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    main a {
        padding: 10px 20px;
        font-size: 16px;
    }

    footer p {
        font-size: 0.8em;
    }
    
    footer > a {
        font-size: 1.5em;
    }


}

@media screen and (max-width: 620px) {
    
    .container {
        padding: 30px;
        width: 300px;
    }
    
    .container > h2 {
        font-size: 1.2rem;
        margin-bottom: 30px;
    }
    
    .container h3 {
       font-size: 1rem; 
       margin-bottom: 5px;
    }
    
    .container p {
        font-size: 0.8rem;
        margin-bottom: 15px;
    }

}