@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 670;
    font-style: normal;
}

.fundo {
    background-image: linear-gradient(rgba(0, 89, 153, 0.384), rgba(0, 30, 51, 0.37)), url(../img/fundoPaginaPrincipal.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#nossaLogo {
    width: 65px;
    position: fixed;
    right: 0;
    bottom: 80px;
}

.fundo > h1 {
    font-size: 5em;
    color: #fff;
    text-transform: uppercase;
}

.fundo > p {
    font-size: 1.5em;
    color: #fff;
}

#logoPorto1 {
    width: 195px;
    position: absolute;
    left: 20px;
    top: 10px;
}

#logoPorto2 {
    width: 130px;
}

nav {
    background-color: #00345A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
    margin-right: 20px;
}

header li {
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #fff;
    font-size: 18px; 
    padding: 7px;
    border-radius: 7px;
}

header a:hover {
    text-decoration: underline;
}

.ideias img {
    width: 100%;
}

h2{
    position: relative;
    text-align: center;
    font-size: 4em;
    color: #2086DA;
    margin-bottom: 2%;
}

.falarBot {
    display: inline;
    background-color: #00345A;
    padding: 20px;
    border-radius: 14px;
    font-size: 1em;
    text-transform: uppercase;
}

.falarBot a {
    text-decoration: none;
    color: #fff;
    margin-left: 5px;
}

.falarBot i {
    color: #bcdeee8a;
    font-size: 25px;
    margin-right: 5px;
}

strong{
    color: #156BB2;
    text-decoration: dashed;
}

#falarPorto{
    color: #8DD1F1;
    font-size: 30px;
}

#falar{
    margin-top: 6%;
    text-align: center;
}

.divIdeias{
    margin-top: 6%;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.ideias{
    border-radius: 10px;
    background-color: #8DD1F1;
    padding: 2%;
    text-align: center;
    width: 300px;
}

.fundoIdeias{
    height: 400px;
    background-color: #00345A;
    margin-top: -100px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.fundoIdeias p {
    color: white;
    font-size: 2em;
    width: 500px;
    margin: 100px 30px;
    text-align: end;
}

strong#fundoIdeiasLabel{
    color: #8DD1F1;
}

footer {
    text-align: center;
    background-color: black;
    padding: 30px;
}

footer p {
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding-top: 30px;
    letter-spacing: 1px;
}

footer > a {
    text-decoration: none;
    background-color: #fff;
    color: #0060af;
    font-size: 30px;
    padding: 7px;
    border-radius: 10px;
}

footer > a:hover{
    text-decoration: underline;
}

@media  screen and (max-width: 1000px) {
    .ideias {
        width: 250px;
    }
}

@media screen and (max-width: 906px) {

    #nossaLogo {
        width: 55px;
    }

    .fundo > h1 {
        font-size: 4em;
    }

    nav {
        flex-direction: column;
    }

    header a {
        font-size: 15px; 
    }

    h2{
        font-size: 3rem;
    }

    .falarBot {
        font-size: 15px;
        padding: 15px;
    }

    .falarBot i {
        font-size: 20px;
    }

    .fundoIdeias p {
        font-size: 2rem;
    }

    footer p {
        font-size: 0.8em;
    }
    
    footer > a {
        font-size: 1.5em;
    }

}

@media screen and (max-width: 670px) {

    #nossaLogo {
        width: 40px;
    }

    h2{
        font-size: 2.5rem;
    }

    .falarBot {
        font-size: 0.7em;
        padding: 12px;
    }

    .falarBot i {
        font-size: 1.5em;
    }
    
    .divIdeias{
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .ideias{
        width: 30%;
    }

    .fundoIdeias{
        height:300px;
        display: flex;
        align-items: end;
        justify-content: center;
    }

    .fundoIdeias p {
        font-size: 1.5rem;
        text-align: center;
        width: 70%;
    }

}

/* @media screen and (max-width: 992px) {

    #nossaLogo {
        width: 55px;
    }

    .fundo > h1 {
        font-size: 3em;
    }
    
    .fundo p {
        font-size: 1em;
    }

    #logoPorto1 {
        width: 175px;
    }

    #logoPorto2 {
        width: 110px;
    }

    nav {
        padding: 0px;
    }

    header a {
        font-size: 12px; 
    }

    h2{
        font-size: 50px;
    }

    .falarBot {
        font-size: 15px;
        padding: 15px;
    }

    .falarBot i {
        font-size: 20px;
    }

    .ideias {
        width: 10vw;
    }

    .ideias img {
        width: 100%;
    }

    footer > a {
        font-size: 25px;
    }

    footer > p {
        font-size: 14px;
    }

}

@media screen and (max-width: 768px) {

    #nossaLogo {
        width: 45px;
    }

    .fundo > h1 {
        font-size: 3em;
    }
    
    .fundo > p {
        font-size: 1em;
        color: #fff;
    }

    #logoPorto2 {
        width: 90px;
    }

    nav {
        background-color: #00345A;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    header a {
        font-size: 12px; 
    }

    h2{
        font-size: 40px;
    }
    
    .falarBot {
        font-size: 10px;
        padding: 10px;
    }

    .falarBot i {
        font-size: 15px;
    }

    .divIdeias{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .ideias{
        width: 230px;
    }

    .ideias img {
        width: 100%;
    }

    .fundoIdeias {
        height: 350px;
    }

    .fundoIdeias p {
        font-size: 1.5em;
        width: 50%;
        margin: auto;
    }
    
    footer p {
        font-size: 12px;
    }
    
    footer > a {
        font-size: 18px;
    }
}

@media screen and (max-width: 576px) {

    #nossaLogo {
        width: 40px;
    }

    .fundo > h1 {
        font-size: 2.5em;
    }
    
    .fundo > p {
        font-size: 0.8em;
        color: #fff;
    }

    header a {
        font-size: 8px; 
    }

    h2{
        font-size: 30px;
    }
    
    .falarBot {
        font-size: 8px;
        padding: 10px;
    }

    .falarBot i {
        font-size: 12px;
    }

    .fundoIdeias p {
        font-size: 1.25em;
    }

    .ideias{
        width: 180px;
    }

    footer p {
        font-size: 8px;
    }
    
    footer > a {
        font-size: 15px;
    }

} */