@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 670;
    font-style: normal;
}

.fundo {
    background-image: linear-gradient(rgba(0, 89, 153, 0.384), rgba(0, 30, 51, 0.37)), url(../img/fundoPaginaPrincipal.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#nossaLogo {
    width: 65px;
    position: fixed;
    right: 0;
    bottom: 80px;
}

.fundo > p {
    font-size: 24px;
    color: #fff;
}

.fundo :nth-child(1) {
    color: #fff;
    text-transform: uppercase;
    font-size: 85px;
}

#logoPorto1 {
    width: 195px;
    position: absolute;
    left: 20px;
    top: 10px;
}

#logoPorto2 {
    width: 130px;
}

#iconePerfil {
width: 12px;
}

li > a > img {
    width: 30px;
}

li > a > img:hover {
    background-color: rgba(173, 224, 231, 0.623);
    padding: 1px;
    border-radius: 10px;
}

nav {
    background-color: #00345A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

header li {
    display: flex;
    align-items: center;
    margin: 0px 25px;
}

header a {
    text-decoration: none;
    color: #fff;
    font-size: 22px; 
    padding: 7px;
    border-radius: 7px;
}

header a:hover {
    text-decoration: underline;
}

.ideias > img {
    width: 256px;
}

.links{
    text-decoration: none;
    list-style: none;
    color: black;
    margin-left: 25px;
    margin-right: 25px;
    color: white;

}

#idPerfil{
    margin-right: 0;
}
#perfil{
    height: 15px;
}

h1{

    position: relative;
    text-align: center;
    font-size: 70px;
    color: #2086DA;
    margin-bottom: 2%;
}

strong{
    color: #156BB2;
    text-decoration: dashed;
}

#falarPorto{
    color: #8DD1F1;
    font-size: 30px;
}

#falar{
    margin-top: 6%;
    text-align: center;
}

.divIdeias{
    margin-top: 6%;
    display: flex;
    justify-content: space-evenly;
    height: 275px;
    
    
}

.ideias{
    height: 275px;
    flex-basis: 275px;
    border-radius: 10px;
    background-color: #D9D9D9;
    padding: 2%;
    text-align: center;

}

/* .seta{
    border: black 2px solid;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    font-size: 50px;
    text-align: center;
    align-content: center;
} */

#fundoIdeias{
    height: 340px;
    flex-basis: 100%;
    border: #00345A solid 0;
    background-color: #00345A;
    padding-top: 9%;
    padding-left: 45%;
    margin-top: -50px;
    color: white;
    font-size: 55px;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10%;

}

strong#fundoIdeiasLabel{
    color: #8DD1F1;
}

footer {
    text-align: center;
    background-color: black;
    padding: 30px;
}

footer p {
    color: #fff;
    text-align: center;
    padding-top: 30px;
    letter-spacing: 1px;
}

footer > a {
    text-decoration: none;
    background-color: #fff;
    color: #0060af;
    font-size: 30px;
    padding: 7px;
    border-radius: 10px;
}

footer > a:hover{
    text-decoration: underline;
}