@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 670;
    font-style: normal;
}

#logoPorto {
    width: 140px;
}

header {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #00345A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
    margin-right: 20px;
}

header li {
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #fff;
    font-size: 18px; 
    padding: 7px;
    border-radius: 7px;
}

header a:hover {
    text-decoration: underline;
}

.icone-menu-celular {
    display: none;
}

.menu-celular {
    display: none;
}

main {
    width: 100%;
    min-height: 90vh;
}

.sub p {
    padding: 10px;
    background-color: #01B3E3;
    display: block;
    border-radius: 7px;
    font-size: 1.5rem;
    color: white;
    width: 450px;
    text-align: center;
    margin-top: 40px;
    margin-left: 100px;
}

h2 {
    color: #00345A;
    padding: 20px;
    font-size: 2rem;
    margin-left: 100px;
    margin-bottom: 30px;
}

.carregamento {
    display: flex;
    justify-content: center;
}

.carregamentoCompleto {
    background-color: #01B3E3;
    width: 20%;
    height: 15px;
    border-radius: 8px;
    margin-right: 100px;
}

.carregamentoMetadeAzul {
    width: 10%;
    height: 15px;
    background-color: #01B3E3;
    border-radius: 8px 0px 0px 8px;
}

.carregamentoMetadeCinza {
    width: 10%;
    height: 15px;
    background-color: #B4B4B4;
    border-radius: 0px 8px 8px 0px;
}

.acompanhamento {
    display: flex;
}

.imagem {
    width: 400px;
}

.imagem img {
    width: 100%;
}

.carro {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    width: 50%;
    margin-top: 50px;
}

.carro > h3 {
    width: 100%;
    font-size: 40px; 
    color: #00345A;
    text-transform: uppercase;
    margin: 30px 0px 30px 0px;
    text-align: center;
}

.carro > #carro {
    margin-left: 160px;
}

.status {
    width: 50%;
    text-align: center;
    margin-top: 20px;
}

.status > h3 {
    font-size: 20px;
    color: #7E7D7D;
    margin-top: 90px;
    text-transform: uppercase;
}

.status > p {
    font-size: 36px;
    color: black;
    margin-top: 10px;
}

#nossaLogo {
    width: 65px;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

footer {
    text-align: center;
    background-color: black;
    padding: 30px;
}

footer p {
    color: #fff;
    text-align: center;
    padding-top: 30px;
    letter-spacing: 1px;
}

footer > a {
    text-decoration: none;
    background-color: #fff;
    color: #0060af;
    font-size: 30px;
    padding: 7px;
    border-radius: 10px;
}

footer > a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 1050px) {

    .sub  p {
        width: 300px;
        font-size: 1rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }

    .carregamentoCompleto {
        height: 10px;
    }
    
    .carregamentoMetadeAzul {
        height: 10px;
    }
    
    .carregamentoMetadeCinza {
        height: 10px;
    }

    .imagem {
        width: 300px;
    }

    .carro > h3 {
        font-size: 30px; 
    }

    .status > h3 {
        font-size: 16px;
    }
    
    .status > p {
        font-size: 27px;
    }
}

@media screen and (max-width: 930px) {

    #nossaLogo {
        width: 55px;
    }

    .fundo > h1 {
        font-size: 4em;
    }

    nav li {
        display: none;
    }

    .icone-menu-celular {
        display: block;
        margin-right: 15px;
    }

    .icone-menu-celular button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .menu-celular {
        background-color: #00345A;
    }

    .menu-celular ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .menu-celular li {
        display: block;
        padding-top: 1.2rem;
    }

    .open {
        display: block;
    }

    footer p {
        font-size: 0.8em;
    }
    
    footer > a {
        font-size: 1.5em;
    }

}

@media screen and (max-width: 720px) {

    .sub {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sub  p {
        text-align: center;
        width: 250px;
        padding: 10px;
        font-size: 1rem;
        margin: 0;
    }
    
    h2 {
        width: 100%;
        text-align: center;
        padding: 20px;
        font-size: 1.5rem;
        margin: 0;
    }

    .carregamentoCompleto {
        margin-right: 30px;
    }

    .imagem {
        margin-top: 50px;
        width: 250px;
    }

    .acompanhamento {
        flex-direction: column;
        align-items: center;
    }

    .carro {
        width: 100%;
        margin-top: 0px;
    }
    
    .carro > h3 {
        font-size: 1.5rem; 
        margin: 10px 0px 50px 0px;
    }
    
    .status {
        width: 100%;
        margin: 0px;
    }
    
    .status > h3 {
        font-size: 1rem;
        margin: 0px;
    }
    
    .status > p {
        font-size: 1.5rem;
        margin: 0px 0px 25px 0px;
    }
}