@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 670;
    font-style: normal;
}

.fundo {
    background-color: #00345A;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nossaLogo {
    width: 65px;
    position: fixed;
    right: 0;
    bottom: 100px;
}

.fundo h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 85px;
}

#logoPorto1 {
    width: 195px;
    position: absolute;
    left: 20px;
    top: 10px;
}

#logoPorto2 {
    width: 140px;
}

#iconePerfil {
width: 12px;
}

nav {
    background-color: #00345A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
    margin-right: 20px;
}

header li {
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #fff;
    font-size: 18px; 
    padding: 7px;
    border-radius: 7px;
}

header a:hover {
    text-decoration: underline;
}

.icone-menu-celular {
    display: none;
}

.menu-celular {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    gap: 50vh;
}

#bot {
    width: 75px;
}

#maisInfo {
    width: 75px;
}

#enviar {
    width: 45px;
}

.imagem {
    margin-left: 10%;
    margin-top: 40px;
    display: flex;
    gap: 20px;
}

.chat {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 15px;
    margin-left: 10%;
}

.chat > img {
    margin-left: 30px;
}

.chat > p {
    padding: 15px 20px;
    text-align: center;
    border-radius: 12px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #0066FF;
    margin-top: 20em;

}

.mensagem {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.mensagem > input {
    outline: unset;
    border: none;
    background-color: #a3a3a3;
    width: 90%;
    padding: 8px;
    border-radius: 30px;
    height: 30px;
    margin-right: 10px  ;
}


@media screen and (max-width: 930px) {

    #nossaLogo {
        width: 55px;
    }

    #logoPorto1 {
        width: 165px;
    }

    .fundo h1 {
        font-size: 4em;
    }

    nav li {
        display: none;
    }

    .icone-menu-celular {
        display: block;
        margin-right: 15px;
    }

    .icone-menu-celular button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .menu-celular {
        background-color: #00345A;
    }

    .menu-celular ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .menu-celular li {
        display: block;
        padding-top: 1.2rem;
    }

    .open {
        display: block;
    }

    #bot {
        width: 55px;
    }
    
    #maisInfo {
        width: 55px;
    }

    .chat > p {
        padding: 10px 20px;
        font-size: 1rem;
    }

    .mensagem > input {
        width: 80%;
        height: 20px;
    }

    #enviar {
        width: 30px;
    }

    footer p {
        font-size: 0.8em;
    }
    
    footer > a {
        font-size: 1.5em;
    }

}

@media screen and (max-width: 670px) {

    #nossaLogo {
        width: 40px;
    }

    #logoPorto1 {
        width: 135px;
    }

    .fundo h1 {
        font-size: 3em;
    }
}