@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 670;
    font-style: normal;
}

#nossaLogo {
    width: 65px;
    position: fixed;
    right: 0;
    bottom: 80px;
}

body {
    background-color: #00345A;
    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100vh;
}

div {
    display: flex;
    flex-direction: column;
    gap: 40px  ;
}

div > a {
    text-align: center;
    text-decoration: none;
    font-size: 23px;
    color: #156BB2;
    padding: 10px 50px;
    background-color: white;
    border-radius: 15px;
}

img {
    width: 17%;
}