@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 670;
    font-style: normal;
}

.fundo {
    background-color: #8DD1F1;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nossaLogo {
    width: 65px;
    position: fixed;
    right: 0;
    bottom: 100px;
}

.fundo :nth-child(1) {
    color: #fff;
    text-transform: uppercase;
    font-size: 85px;
}

#logoPorto1 {
    width: 195px;
    position: absolute;
    left: 20px;
    top: 10px;
}

#logoPorto2 {
    width: 130px;
}

nav {
    background-color: #00345A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}

header li {
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #fff;
    font-size: 18px; 
    padding: 7px;
    border-radius: 7px;
}

header a:hover {
    text-decoration: underline;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    align-self: start;
    color: #00345A;
    font-size: 2.5em;
    margin: 90px 0px 30px 10%;
}

.container {
    width: 100%;
    padding: 5%;
    background-color: #8DD1F1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.pessoa {
    background-color: #fff;
    padding: 30px;
    width: 300px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.info {
    align-self: start;
} 

.pessoa img {
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.info h3 {
    font-size: 1.5em;
    color: #00345A;
}

.info a {
    font-size: 0.8em;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}

.info a:hover {
    color: rgb(88, 0, 126);
    text-decoration: underline;
}

.info p {
    color: #00345A;
    font-size: 0.8em;
}

.repositorio {
    margin: 40px 0px 70px 0px;
}

.repositorio a {
    font-size: 1.75em;
    color: #00345A;
    padding: 5px;
    text-decoration: none;
}

.repositorio a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    background-color: black;
    padding: 30px;
}

footer p {
    color: #fff;
    text-align: center;
    padding-top: 30px;
    letter-spacing: 1px;
}

footer > a {
    text-decoration: none;
    background-color: #fff;
    color: #0060af;
    font-size: 30px;
    padding: 7px;
    border-radius: 10px;
}

footer > a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 1199px) {

    #nossaLogo {
        width: 60px;
    }

    .fundo > h1 {
        font-size: 4em;
    }

    #logoPorto2 {
        width: 120px;
    }

    header a {
        font-size: 16px; 
    }

    .pessoa {
        width: 270px;
    }

    .info h3 {
        font-size: 1.3em;
    }

    .info a {
        font-size: 0.8em;
    }
    
    .info p {
        color: #00345A;
        font-size: 0.8em;
    }

}

@media screen and (max-width: 992px) {

    #nossaLogo {
        width: 55px;
    }

    .fundo > h1 {
        font-size: 3em;
    }

    #logoPorto1 {
        width: 175px;
    }

    #logoPorto2 {
        width: 110px;
    }

    header a {
        font-size: 12px; 
    }

    h2{
        font-size: 2.2em;
    }

    .repositorio a {
        font-size: 1.5em;
    }

    footer > a {
        font-size: 25px;
    }

    footer > p {
        font-size: 14px;
    }

}

@media screen and (max-width: 768px) {

    #nossaLogo {
        width: 45px;
    }

    .fundo > h1 {
        font-size: 3em;
    }

    #logoPorto2 {
        width: 90px;
    }

    nav {
        flex-direction: column;
    }

    header a {
        font-size: 12px; 
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    h2{
        font-size: 2em;
    }

    .repositorio a {
        font-size: 1.3em;
    }
    
    footer p {
        font-size: 12px;
    }
    
    footer > a {
        font-size: 18px;
    }
}

@media screen and (max-width: 576px) {

    #nossaLogo {
        width: 40px;
    }

    .fundo > h1 {
        font-size: 1.5em;
    }

    header a {
        font-size: 8px; 
    }

    h2{
        font-size: 30px;
    }

    .pessoa {
        width: 240px;
    }

    .info h3 {
        font-size: 1em;
    }

    .info a {
        font-size: 0.6em;
    }
    
    .info p {
        color: #00345A;
        font-size: 0.6em;
    }

    .repositorio a {
        font-size: 1.1em;
    }

    footer p {
        font-size: 8px;
    }
    
    footer > a {
        font-size: 15px;
    }

}