@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 670;
    font-style: normal;
}

.fundo {
    background-color: #8DD1F1;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nossaLogo {
    width: 65px;
    position: fixed;
    right: 0;
    bottom: 100px;
}

.fundo h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 5em;
}

#logoPorto1 {
    width: 195px;
    position: absolute;
    left: 20px;
    top: 10px;
}

#logoPorto2 {
    width: 140px;
}

nav {
    background-color: #00345A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
    margin-right: 20px;
}

header li {
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #fff;
    font-size: 18px; 
    padding: 7px;
    border-radius: 7px;
}

header a:hover {
    text-decoration: underline;
}

.icone-menu-celular {
    display: none;
}

.menu-celular {
    display: none;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    align-self: start;
    color: #00345A;
    font-size: 2.5em;
    margin: 90px 0px 30px 10%;
}

.container {
    width: 100%;
    padding: 5%;
    background-color: #8DD1F1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.pessoa {
    background-color: #fff;
    padding: 30px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.info {
    align-self: start;
} 

.pessoa img {
    width: 250px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.info h3 {
    font-size: 2em;
    color: #00345A;
}

.info a {
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}

.info a:hover {
    color: rgb(88, 0, 126);
    text-decoration: underline;
}

.info p {
    color: #00345A;
    font-size: 1em;
}

.repositorio {
    margin: 40px 0px 70px 0px;
}

.repositorio a {
    font-size: 1.75em;
    color: #00345A;
    padding: 5px;
    text-decoration: none;
}

.repositorio a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    background-color: black;
    padding: 30px;
}

footer p {
    color: #fff;
    text-align: center;
    padding-top: 30px;
    letter-spacing: 1px;
}

footer > a {
    text-decoration: none;
    background-color: #fff;
    color: #0060af;
    font-size: 30px;
    padding: 7px;
    border-radius: 10px;
}

footer > a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 1144px) {
    
    .pessoa img {
        width: 200px;
    }

    .info h3 {
        font-size: 1.75em;
    }

    .info a {
        font-size: 0.9em;
    }

    .info p {
        font-size: 0.9em;
    }

}

@media screen and (max-width: 930px) {

    #nossaLogo {
        width: 55px;
    }

    .fundo h1 {
        font-size: 4em;
    }

    nav li {
        display: none;
    }

    .icone-menu-celular {
        display: block;
        margin-right: 15px;
    }

    .icone-menu-celular button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .menu-celular {
        background-color: #00345A;
    }

    .menu-celular ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .menu-celular li {
        display: block;
        padding-top: 1.2rem;
    }

    .open {
        display: block;
    }

    footer p {
        font-size: 0.8em;
    }
    
    footer > a {
        font-size: 1.5em;
    }

}

@media screen and (max-width: 664px) {

    #nossaLogo {
        width: 40px;
    }

    #logoPorto1 {
        width: 135px;
    }

    .fundo h1 {
        font-size: 3em;
    }

    h2{
        font-size: 2em;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .pessoa img {
        width: 150px;
    }


    .info h3 {
        font-size: 1.5em;
    }

    .info a {
        font-size: 0.8em;
    }

    .info p {
        font-size: 0.8em;
    }

    .repositorio a {
        font-size: 1.25em;
    }
}