@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 670;
    font-style: normal;
}

#nossaLogo {
    width: 65px;
    position: fixed;
    right: 0;
    bottom: 80px;
}

body {
    background-color: #00345A;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    background-color: #fff;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 50px 30px;
    gap: 10px;
}

.login img {
    width: 200px;
    margin: auto;
}

h1 {
    margin: auto;   
    font-weight: bold;
    font-size: 2em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.caixa {
    border: 1px solid gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0px
}

.caixa input {
    margin: 0px 15px;
    color: #0094FF;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
}

.caixa label {
    margin: 0px 15px;
    color: #0094FF;
    font-size: 1em;
}

.extra {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #333;
    font-size: 1.2em;
}

.extra a {
    align-self: flex-end;
}

.textos a {
    text-decoration: none;
    color: #0094FF;
}

.checkbox input {
    margin-right: 10px;
}

.botao {
    background-color: #0066FF;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

@media screen and (max-width: 765px) {

    #nossaLogo {
        width: 50px;
    }

    .login {
        width: 300px;
    }

    .login img {
        width: 150px;
    }

    h1 {
        font-size: 1.5em;
    }

    .caixa label {
        font-size: 0.75em;
    }

    .extra {
        font-size: 0.9em;
    }

}