@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 670;
    font-style: normal;
}

#nossaLogo {
    width: 65px;
    position: fixed;
    right: 0;
    bottom: 80px;
}

h1 {
    font-size: 26;
    margin-bottom: 10px;
}

img {
    width: 50%;
    margin: auto;
}

p > a {
    color: #0094FF;
    text-decoration: none;
}

strong {
    color: #0094FF;
}

body {
    background-color: #00345A;
    width: 100%;
}

fieldset {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 25%;
    min-height: 500px;
    border-radius: 30px;
    margin: auto;
    margin-top: 150px;
    gap: 20px;
}

.caixa {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 20px;
}

fieldset > a {
    background-color: #0066FF;
    color: white;
    padding: 5px 20px;
    border: none;
    margin-left: 260px;
    text-decoration: none;
}

.caixa input {
    outline: unset;
    outline: unset;
    width: 300px;
}

.caixa label {
    margin-bottom: 5px;
    padding: 2px;
}

.containerTitulo {
    margin-left: 50px;
}

.textos {
    margin-left: 50px;
}

.textos :nth-child(1) {
    margin-bottom: 20px;
}

.checkbox {
    margin-left: 50px;
}